        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: lightcoral;
            font-size: bold;
        }

        .form-post {
            max-width: 500px;
            padding: 2rem;
            margin: 2rem auto ;
            border-color: #e9ecef;
            border-radius: 0.3rem;
            border: solid;
            display: block;
            font-family: 'Nanum Pen Script', cursive;
        }

        .font-family {
            font-family: 'Nanum Pen Script', cursive;
        }
        
